@import url("https://use.typekit.net/zif1yju.css");
@import 'fonts';

$brushScript: "brush-script-std", sans-serif;
$trebuchet: "Trebuchet MS", sans-serif;

//*COLOURS
$gray: #333333;
$light: #EFEFEF;
$words: #000000;
$tilmeld: #4A6FBF;

