@use '../styles/_fonts.scss' as *;


@import url("https://use.typekit.net/zif1yju.css");

// Font variables
$brushScript: "brush-script-std", sans-serif;
$trebuchet: "Trebuchet MS", sans-serif;

// Colors
$gray: #333333;
$light: #EFEFEF;
$words: #000000;
$tilmeld: #4A6FBF;
$dark-blue: #1a4cb2;
$red: #E9485B;
$dark-red: #670c17;
$green: #54A047;
$purple: #A12E8F;
$yellow: #FFB203;
$paragraph: #666;
