@use '../../styles/variables' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $light;
  position: relative;

  .logo img {
    height: 40px;
  }

  .date {
    font-size: 18px;
    font-weight: bold;
    font-family: $brushScript;

    p {
      font-family: $brushScript;
      font-weight: 200;
      font-size: 20px;
      margin-top: 15px;
      color: $words;
    }
  }

  .links {
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: $trebuchet;

    li {
      position: relative;

      a {
        text-decoration: none;
        color: $words;
        text-transform: uppercase;
        font-size: 16px;
        transition: color 0.3s ease, letter-spacing 0.3s ease;

        &:hover {
          color: $red;
          letter-spacing: 2px;
        }
      }

      &.dropdown {
        cursor: pointer;

        span {
          color: #000;
          text-transform: uppercase;
          font-size: 16px;
          transition: letter-spacing 0.3s ease;

          &:hover {
            letter-spacing: 2px;
            color: $red;
          }
        }

        .dropdownMenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $light;
          list-style: none;
          padding: 10px;
          min-width: 100px;

          li {
            a {
              color: $red;
              font-size: 13px;
              padding: 8px 12px;
              display: block;
              white-space: nowrap;
              font-family: $trebuchet;

              &:hover {
                color: $red;
                background-color: $light;
              }
            }
          }
        }

        &:hover .dropdownMenu {
          display: block;
        }
      }
    }
  }

  .searchIcon {
    font-size: 18px;
    cursor: pointer;
  }

  .logOutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #ddd;
    color: $words;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 200;
    font-family: $trebuchet;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap; 
    min-width: 100px; 
    transition: color 0.3s ease, letter-spacing 0.3s ease;
  
    &:hover {
      background: $red;
      color: $light;
      letter-spacing: 1px;
    }
  
    svg {
      font-size: 18px; 
    }
  }

  .menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .mobileMenu {
    display: none;
  }

  @media (max-width: 1024px) { 
    .links {
      display: none; 
    }

    .menuIcon {
      display: block;
    }

    .mobileMenu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: $light;
      width: 200px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      display: none; 

      a {
        text-decoration: none;
        color: $words;
        font-size: 16px;
        padding: 10px;
        transition: background 0.3s ease;
        transition: color 0.3s ease, letter-spacing 0.3s ease;
        font-family: $trebuchet;

        &:hover {
          color: $red;
          letter-spacing: 1px;
        }
      }
    }

    .mobileMenu.open {
      display: flex;
    }
  }
}
